@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
.header {
    padding: 20px 20px 20px 40px;
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    /* z-index: 999; */
    background: #7386D5;
    color: #ffffff;
    transition: all 0.3s;
    /* padding: 20px; */
}

.greet {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    left: 30;
}