{% extends "sidebar.html" %}
{% load static %}

{% block content %}
<h1>
    Alerts
</h1>

<table style="width:100%" class="table">
    <tr>
    <th>Stock Code</th>
    <th>Stock Name</th>
    <th>Watch Price</th>
    <th>Date Triggered</th>
    <th>Type of Alert</th>

    </tr>
    {% for alert in alerts %}
    <tr>
    <td>{{alert.stock.code}}</td>
    <td>{{alert.stock.name}}</td> 
    <td>{{alert.watchprice}}</td>
    <td>{{alert.dateTriggered}}</td>
    <td>{{alert.action}} alert</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}