{% extends "sidebar.html" %}
{% load static %}

{% block content %}
<div style="background-color: #ffffff; text-align: center;">
    <div style="margin-left: 50px; margin-right: 50px;">
        <p style="font-size:30px; color:rgb(0, 0, 0);">Welcome to Hermes!</p>
        <p style="color:rgb(0, 0, 0);">The easy-to-use investment simulator which lets you maintain a watchlist, set watch prices, buy and sell virtual 
            stocks, make future price predictions, and even compete against other investors - all without risking a penny!</p>

        <p style="color:rgb(0, 0, 0);">Hermes uses real world market data, meaning the skills you learn here will transfer over into the real world! 
            Beginners can use Hermes to make their first steps in the world of stock investment, whereas experienced investors may use the simulator to devise 
            a strategy that works for them.
        </p>
        <p>Hermes - Trading made easy </p>
    </div>
</div>

{% endblock %}
