{% extends "sidebar.html" %}
{% load static %}

{% block content %}
<h1>
    Leaderboard
</h1>

{% for key, value in messages.items %}
    {% if key == "error" %}
        <center><h5 style="color:#FF0000;">{{value}}</h5></center>
    {% else %}
        <center><h5 style="color:#008000;">{{value}}</h5></center>
    {% endif %}
{% endfor %}
<br></br>

{% for l in leaderboard %}
{% if l.name == username %}
<h3>
    Your current rank is {{l.rank}} out if {{ leaderboard|length }}
</h3>
{% endif %}
{% endfor %}


<table style="width:100%" class="table">
    <tr>
    <th>Rank</th>
    <th>Username</th>
    <th>Account Balance</th>
    <th>Portfolio Worth</th>
    <th>Total Worth</th>

    </tr>
    {% for l in leaderboard %}
    {% if l.name == username %}
    <tr style="font-weight:bold">
        <td>{{l.rank}}</td>
        <td>{{l.name}}</td>
        <td>{{l.balance}}</td>
        <td>{{l.portfolio_worth}}</td>
        <td>{{l.total_worth}}</td>
    </tr>
    {% else %}
    <tr>
        <td>{{l.rank}}</td>
        <td>{{l.name}}</td>
        <td>{{l.balance}}</td>
        <td>{{l.portfolio_worth}}</td>
        <td>{{l.total_worth}}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% endblock %}