{% extends "sidebar.html" %}
{% load static %}

{% block content %}
<h1>
    My Purchases
</h1>

{% for key, value in errors.items %}
<center><h5 style="color:#FF0000;">{{value}}</h5></center>
{% endfor %}
<br></br>
<h3>
    Total Pofit/Loss of Portfolio
</h3>
{{total_portfolio_profit}}
<br></br>

<table style="width:100%" class="table">
    <tr>
    <th>Stock Code</th>
    <th>Number of Outstanding Purchases</th>
    <th>Total Number of Units</th>
    <th>Total Paid</th>
    <th>Current Price</th>
    <th>Total Worth</th>
    <th>Total Profit/Loss</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>

    </tr>
    {% for p in portfolio %}
    <tr>
    <td>{{p.code}}</td>
    <td>{{p.noPurchases}}</td>
    <td>{{p.totalUnits}}</td>
    <td>{{p.totalPaid}}</td>
    <td>{{p.currentPrice}}</td>
    <td>{{p.totalWorth}}</td>
    <td>{{p.totalProfit}}</td>
    <td><div class="dropdown">
        <a
        class="btn btn-info dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-expanded="false"
        >
        Actions
        </a>
  
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a href="/purchases/{{p.code}}" class="dropdown-item">Purchases</a></li>
        <li><a href=# class="dropdown-item">Graph</a></li>
        <li><a class="dropdown-item" href="/buy/{{w.code}}">Buy</a></li>
        <li><a href="/sell/{{p.code}}" class="dropdown-item">Sell</a></li>
        </ul>
  </div> </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}