{% extends "sidebar.html" %}
{% load static %}

{% block content %}
<h1>
    My Watch List
</h1>

{% for key, value in errors.items %}
<center>
    <h5 style="color:#FF0000;">{{value}}</h5>
</center>
{% endfor %}
<script>
    function load() {
        document.getElementById("graph").innerHTML = '<object type="text/html" data="../graph.html" style=" width: 100%; height: 100%;"></object>';
    }
</script>


<table style="width:100%" class="table">
    <tr>
    <th>Stock Code</th>
    <th>Stock Name</th>
    <th>Date Added</th>
    <th>Current Price</th>
    <th>Change Since Last Closing</th>
    <th>Watch Prices </th>
    <th></th>

    </tr>
    {% for w in wlist %}
    <tr>
        <td>{{w.code}}</td>
        <td> <a href="/stock/{{w.code}}"> {{w.name}} </a> </td>
        <td>{{w.date}}</td>
        <td>{{w.current}}</td>
        <td>{{w.change}}</td>
        <!-- <td> <a href="/charts/" class="btn btn-info" onclick="displayStock()" >Display</a> -->
        <td> 
            <table style="border: 0px; border-collapse: collapse; ">
                <!-- Header -->
                <tr style="border:0;">
                    <!-- Watchprice -->
                    <th style="border:0;"></th>
                    <!-- Remove button -->
                    <th style="border:0;"> </th>
                </tr>  
                
                <!-- Rows -->
                {% for alert in w.alerts %}
                <tr>
                    <!-- Watchprice -->
                    <th style="border:0;">{{alert.watchprice}} {{alert.action}} alert </th>
                    <!-- Remove button -->
                    <th style="border:0;"><a href="/remove_watchprice/{{alert}}" class="btn btn-info">Remove</a></th>
                </tr>
                {% endfor %}
            </table>
            
            <a href="/set_watchprice/{{w.code}}" class="btn btn-info"> Add </a>
        </td>
        <td>
            <a href="/my_watchlist/{{w.code}}/{{w.timestamp}}" class="btn btn-info">
                Display
            </a>
        </td>
        <td> <a href="/charts/{{w.code}}" class="btn btn-info">Predict</a>
        <td> <a href="/buy/{{w.code}}" class="btn btn-info">Buy</a>
        <td> <a href="/remove_watchlist/{{w.code}}" class="btn btn-info">Remove</a></td>
    </tr>
    {% endfor %}
</table>
<div id="graph" style=" height: 70vh;"></div>

<script>
    if ('{{display}}' == 'true') {
        load();
    }
</script>

{% endblock %}