{% extends "sidebar.html" %}
{% load static %}

{% block title %}Confirm Watch Price{% endblock %}

{% load crispy_forms_tags %}
{% csrf_token %}

{% block content %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div style="margin: 20 auto;">
        <h3 style="text-align: center; font-family: sans-serif">Confirmation</h3>
        <div>
            {% crispy form %}
        </div>
    </div>
{% endblock %}