{% extends "sidebar.html" %}
{% load static %}

{% block title %}{{ stock.name }}{% endblock %}
{% block content %}

<h3> Stock name: {{stock.name}}</h3> <h4> {{stock.name}} </h4>

<br>
<h3> Stock code: {{stock.code}</h3> <h4> {{stock.code}} </h4>

<br>
<h3> Current price: {{stock.current}}</h3> <h4> {{stock.current}} </h4>

<br>
<h3> Change: {{stock.change}}</h3> <h4> {{stock.change}} </h4>

<br>
<h3> Watch prices to alert: </h3> <h4> {{stock.alert}} </h4>
{% for alert in stock.alerts %}
<h4>{{alert.watchprice}} {{alert.action}} alert <a href="/remove_watchprice/{{alert}}" class="btn btn-info">Remove</a> </h4> 
{% endfor %}
<br>


<a href="/set_watchprice/{{stock.code}}" class="btn btn-info"> Add Watchprice </a> 
<a href="/remove_watchlist/{{w.code}}" class="btn btn-info">Remove from Watchlist</a>
<a href="/buy/{{stock.code}}" class="btn btn-info">Buy</a> 
<a href="/sell/{{stock.code}}" class="btn btn-info">Sell</a>

{% endblock %}
